<section class="text-center bg-light" id="activites">
    <h2 class="text-center">{{"Nos activités"|trans}}</h2>

    <div class="row">
        <div class="col-sm-4 col-lg-2 actives">
            <a href="#nautisme">
                <img class="img-activites img-fluid border-my-theme" alt="Catamaran aero 45 de la marque Aerofleet" src="{{ asset('build/images/activites/miniature-catamaran-aero-45.jpeg') }}" >
                <p>{{"Nautisme"|trans}}</p>
            </a>
        </div>

        <div class="col-sm-4 col-lg-2 actives">
            <a href="#thermolaquage">
                <img class="img-activites img-fluid border-my-theme" alt="Ouvrier d'aérofleet appliquant du thermolaquage" src="{{ asset('build/images/activites/thermolaquage-traitement.jpeg') }}" >
                <p>{{"Thermolaquage"|trans}}</p>
            </a>
        </div>

        <div class="col-sm-4 col-lg-2 actives">
            <a href="#piscine">
                <img class="img-activites img-fluid border-my-theme" alt="Une piscine extérieur en terre" src="{{ asset('build/images/activites/miniature-piscine-recadree.jpg') }}" >
                <p>{{"Piscine"|trans}}</p>
            </a>
        </div>

        <div class="col-sm-4 col-lg-2 actives">
            <a href="#e-nautisme">
                <img class="img-activites img-fluid border-my-theme" alt="Tensiomètre AERO 37/2/LPT de la marque Aerofleet" src="{{ asset('build/images/activites/tensiometre-aero-tens-aerofleet.jpeg') }}" >
                <p>{{"Tensiomètre"|trans}}</p>
            </a>
        </div>

        <div class="col-sm-4 col-lg-2 actives">
            <a href="#spatial-aeronautique">
                <img class="img-activites  img-fluid border-my-theme" alt="Coupole de téléscope avec dôme de protection" src="{{ asset('build/images/activites/dome-spatial-aerofleet.jpg') }}" >
                <p>{{"Spatial et Aéronautique"|trans}}</p>
            </a>
        </div>

        <div class="col-sm-4 col-lg-2 actives">
            <a href="#militaire">
                <img class="img-activites  img-fluid border-my-theme" alt="Couvercle de protection Rcws de la marque FN" src="{{ asset('build/images/activites/rcws-fn-defender.jpeg') }}" >
                <p>{{"Militaire"|trans}}</p>
            </a>
        </div>
    </div>
    <br><br>
</section>
