<section class="bg-light text-center" id="activites">
    <h2 class="text-center">{{"Activités"|trans}}</h2>

    <div class="row">
        <div class="col-sm-4 col-md-2 offset-md-1 actives">
            <a href="#nautisme">
                <img class="img-activites img-fluid rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_aero_45_open_voile_ouverte.jpeg') }}" >
                <p>{{"Nautisme"|trans}}</p>
            </a>
        </div>

        <div class="col-sm-4 col-md-2 actives">
            <a href="#thermolaquage">
                <img class="img-activites img-fluid  rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_thermolaquage.jpeg') }}" >
                <p>{{"Thermolaquage"|trans}}</p>
            </a>
        </div>

        <div class="col-sm-4 col-md-2 actives">
            <a href="#piscine">
                <img class="img-activites img-fluid  rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_piscine.jpeg') }}" >
                <p>{{"Piscine"|trans}}</p>
            </a>
        </div>

        <div class="col-sm-4 col-md-2 offset-sm-2 offset-md-0 actives">
            <a href="#spatial-aeronautique">
                <img class="img-activites  img-fluid rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_spatial_dome_02.jpg') }}" >
                <p>{{"Spatial et Aéronautique"|trans}}</p>
            </a>
        </div>

        <div class="col-sm-4 col-md-2 actives">
            <a href="#militaire">
                <img class="img-activites  img-fluid rounded-circle border-my-theme" alt="Rcws fn @defender" src="{{ asset('build/images/activites/miniature_couvercle_de_protection_rcws_fn_defender.jpeg') }}" >
                <p>{{"Militaire"|trans}}</p>
            </a>
        </div>
    </div>
    <br><br>
</section>
