<section class="bg-light text-center" id="activites">
    <h2 class="text-center">{{"Activités"|trans}}</h2>

    <div class="row">
        <div class="col-sm-4">
            <div>
                <p>{{"Nautisme"|trans}}</p>
                <a href="#nautisme"><img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_aero_45_open_voile_ouverte.jpeg') }}" ></a>
            </div>

        </div>
        <div class="col-sm-4">
            <div data-toggle="collapse" data-target="#collapse_spatial_nautisme">
                <p>{{"Spatial et Aéronautique"|trans}}</p>
                <img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_dome.jpg') }}" >
            </div>
            <div id="collapse_spatial_nautisme" class="collapse">
                <p>{{"Aerofleet fabrique du matériel de haute technologie : des matériaux composites pour le domaine aéronautique (programme Airbus) mais aussi pour le domaine spatial avec notamment un dôme (coupole) de protection pour le télescope VLT."|trans}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div data-toggle="collapse" data-target="#collapse_moulage">
                <p>{{"Moulage"|trans}}</p>
                <img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_moule.jpeg') }}" >
            </div>
            <div id="collapse_moulage" class="collapse">
                <p>{{"Moulage de pièces archéologiques (ossements, industries, sol), moulage anatomique et corporelle (immortalisation de grossesses, buste, mains, trophée) ainsi que divers moulages en matériaux composites (aéronautique)."|trans}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div data-toggle="collapse" data-target="#collapse_militaire">
                <p>{{"Militaire"|trans}}</p>
                <img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_couvercle_de_protection_rcws_fn_defender.jpeg') }}" >
            </div>
            <div id="collapse_militaire" class="collapse">
                <p>{{"AEROFLEET, grâce à son savoir-faire et son expérience a également su se positionner dans le secteur militaire à travers les matériaux composites."|trans}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <p>{{"Thermolaquage"|trans}}</p>
                <a href="#thermolaquage"><img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_thermolaquage.jpeg') }}" ></a>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <p>{{"Piscine"|trans}}</p>
                <a href="#piscine"><img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_piscine.jpeg') }}" ></a>
            </div>
        </div>
    </div>
</section>
