<section class="bg-light text-center" id="activites">
    <h2 class="text-center">{{"Activités"|trans}}</h2>

    <div class="row">
        <div class="col-xl-2 col-sm-4 actives">
            <a href="#nautisme">
                <p>{{"Nautisme"|trans}}</p>
                <img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_aero_45_open_voile_ouverte.jpeg') }}" >
            </a>
        </div>

        <div class="col-xl-2 col-sm-4 actives">
            <a href="#spatial-aeronautique">
                <p>{{"Spatial et Aéronautique"|trans}}</p>
                <img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_spatial_dome_02.jpg') }}" >
            </a>
        </div>

        <div class="col-xl-2 col-sm-4 actives">
            <a href="#moulage">
                <p>{{"Moulage"|trans}}</p>
                <img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_moule.jpeg') }}" >
            </a>
        </div>

        <div class="col-xl-2 col-sm-4 actives">
            <a href="#militaire">
                <p>{{"Militaire"|trans}}</p>
                <img class="img-activites rounded-circle border-my-theme" alt="Rcws fn @defender" src="{{ asset('build/images/activites/miniature_couvercle_de_protection_rcws_fn_defender.jpeg') }}" >
            </a>
        </div>

        <div class="col-xl-2 col-sm-4 actives">
            <a href="#thermolaquage">
                <p>{{"Thermolaquage"|trans}}</p>
                <img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_thermolaquage.jpeg') }}" >
            </a>
        </div>

        <div class="col-xl-2 col-sm-4 actives">
            <a href="#piscine">
                <p>{{"Piscine"|trans}}</p>
                <img class="img-activites rounded-circle border-my-theme" alt="Rcws fn defender" src="{{ asset('build/images/activites/miniature_piscine.jpeg') }}" >
            </a>
        </div>
    </div>
    <br><br>
</section>
