<section id="galerie" class=" text-center">
    <h2>{{"Galerie"|trans}}</h2>

    <div class="galerie-bateaux collapse mt-5" data-toggle="collapse" id="collapse-galerie-bateaux" >
        <div class="row">
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_01.jpeg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_02.JPG') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_03.JPG') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_04.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_05.jpeg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_06.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_07.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_08.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_09.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_10.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_10_sea_sun.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_11.jpg') }}" alt="Bateau aerofleet" />
        </div>
    </div>


    <div class="galerie-thermo-militaire collapse" data-toggle="collapse" id="collapse-galerie-thermo-militaire">
        <row>
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/thermolaquage_01.jpeg') }}" alt="thermolaquage aerofleet" />
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/thermolaquage_02.jpeg') }}" alt="thermolaquage aerofleet" />
        </row>
    </div>

    <div class="galerie-piscine collapse" data-toggle="collapse" id="collapse-galerie-piscine">
        <row>
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/piscine_01.jpeg') }}" alt="piscine aerofleet" />
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/piscine_02.jpeg') }}" alt="piscine aerofleet" />
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/piscine_03.jpeg') }}" alt="piscine aerofleet" />
        </row>
    </div>
    <br>
    <br>
</section>