<section id="galerie" class=" text-center">
    <h2>Galerie</h2>
        <button href="#collapse-galerie-bateaux" class="btn btn-primary mr-3" data-toggle="collapse">Nautisme</button>
        <button href="#collapse-galerie-aeronautique" class="btn btn-primary" data-toggle="collapse">Aeronautique</button>
        <button href="#collapse-galerie-spatial" class="btn btn-primary ml-3" data-toggle="collapse">Spatial</button>
        <br><br>
        <button href="#collapse-galerie-moulage" class="btn btn-primary mr-3" data-toggle="collapse">Moulage</button>
        <button href="#collapse-galerie-thermo-militaire" class="btn btn-primary" data-toggle="collapse">Thermolaquage et Militaire</button>
        <button href="#collapse-galerie-piscine" class="btn btn-primary ml-3" data-toggle="collapse">Piscine</button>


    <div class="galerie-bateaux collapse mt-5" data-toggle="collapse" id="collapse-galerie-bateaux" >
        <div class="row">
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_01.jpeg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_02.JPG') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_03.JPG') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_04.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_05.jpeg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_06.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_07.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_08.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_09.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_10.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_10_sea_sun.jpg') }}" alt="Bateau aerofleet" />
            <img class="img-fluid col-md-4 images-galerie" src="{{ asset('build/images/galerie/nautisme_11.jpg') }}" alt="Bateau aerofleet" />
        </div>
    </div>

    <div class="galerie-aeronautique collapse" data-toggle="collapse" id="collapse-galerie-aeronautique">
        <div class="row">
            <img class="img-fluid col-md-4 images-galerie"  src="{{ asset('build/images/galerie/aeronautique_cone_de_banc_d_essais_test_bench_cone.jpg') }}" alt="aeronautique aerofleet" />
            <img class="img-fluid col-md-4 images-galerie"  src="{{ asset('build/images/galerie/aeronautique_fairings.jpg') }}" alt="aeronautique aerofleet" />
            <img class="img-fluid col-md-4 images-galerie"  src="{{ asset('build/images/galerie/aeronautique_nozzle.83f1a29e.jpg') }}" alt="aeronautique aerofleet" />
        </div>
    </div>

    <div class="galerie-spatial collapse" data-toggle="collapse" id="collapse-galerie-spatial">
        <row>
            <img class="img-fluid col-md-4 images-galerie"  src="{{ asset('build/images/galerie/spatial_dome_01.jpg') }}" alt="spatial aerofleet" />
            <img class="img-fluid col-md-4 images-galerie"  src="{{ asset('build/images/galerie/spatial_dome_02.jpg') }}" alt="spatial aerofleet" />
            <img class="img-fluid col-md-4 images-galerie"  src="{{ asset('build/images/galerie/spatial_dome_03.jpg') }}" alt="spatial aerofleet" />
        </row>
    </div>

    <div class="galerie-moulage collapse" data-toggle="collapse" id="collapse-galerie-moulage">
        <row>
            <img class="img-fluid col-md-4 images-moulage"  src="{{ asset('build/images/galerie/moule_figure.jpeg') }}" alt="moulage aerofleet" />
            <img class="img-fluid col-md-4 images-moulage"  src="{{ asset('build/images/galerie/moule_02.jpeg') }}" alt="moulage aerofleet" />
            <img class="img-fluid col-md-4 images-moulage"  src="{{ asset('build/images/galerie/moule_01.jpeg') }}" alt="moulage aerofleet" />
        </row>
    </div>

    <div class="galerie-thermo-militaire collapse" data-toggle="collapse" id="collapse-galerie-thermo-militaire">
        <row>
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/thermolaquage_01.jpeg') }}" alt="thermolaquage aerofleet" />
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/thermolaquage_02.jpeg') }}" alt="thermolaquage aerofleet" />
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/militaire_01.jpg') }}" alt="militaire aerofleet" />
        </row>
    </div>

    <div class="galerie-piscine collapse" data-toggle="collapse" id="collapse-galerie-piscine">
        <row>
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/piscine_01.jpeg') }}" alt="piscine aerofleet" />
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/piscine_02.jpeg') }}" alt="piscine aerofleet" />
            <img class="img-fluid col-md-4 images-thermo-militaire"  src="{{ asset('build/images/galerie/piscine_03.jpeg') }}" alt="piscine aerofleet" />
        </row>
    </div>
    <br>
    <br><br><br>
</section>