<section id="nautisme" class="text-center">
    <h2>{{"Nautisme"|trans}}</h2>
    <br>
    <div class="row">
{#        <div class="col-md-6">#}
{#            <img src="{{ asset('build/images/nautisme/aerofleet_bateau_voilier.jpeg') }}" alt="Random Name" class="img-rounded img-fluid border-my-theme">#}
{#        </div>#}
        <div class="col-sm-6">
            <div id="carouselNautisme2" class="col slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner border-my-theme">
                    <div class="carousel-item active">
                        <img src="{{ asset('build/images/nautisme/aerofleet_bateau_voilier.jpeg') }}" alt="Random Name" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{asset('build/images/apropos/carousel_02bis_aerofleet_boat.jpeg')}}" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{asset('build/images/apropos/carousel_03_.jpg')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
                <div id="carouselNautisme" class="col slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner border-my-theme">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{asset('build/images/nautisme/aerofleet_interieur_bateau_01.jpeg')}}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{asset('build/images/nautisme/aerofleet_interieur_bateau_02.jpeg')}}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{asset('build/images/nautisme/aerofleet_interieur_bateau_03.jpeg')}}" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{asset('build/images/nautisme/aerofleet_interieur_bateau_04.jpeg')}}" alt="">
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <br><br>
    <p><em>{{"Notre devise est \"votre bateau comme vous le souhaitez\""|trans}}</em></p>
    <p>{{"Après avoir construit le premier catamaran F28 Belge, Raphaël Van Vlodorp n'a cessé de développer de nouveaux produits tout en utilisant les meilleurs matériaux pour assurer une qualité optimale."|trans}}</p>
    <p>{{"C'est ainsi que AEROFLEET est devenu un chantier Naval reconnu et peut ainsi vous proposer une large gamme qui va du bateau à moteur au Catamaran de 14m."|trans}}</p>
    <br>
    <img src="{{asset('build/images/nautisme/aero_45.jpeg')}}" alt="" class="img-rounded img-fluid border-my-theme">
    <br><br>
    <p>{{"AEROFLEET peut fournir les bateaux à tous les stades de finition des pièces moulées aux bateaux prêts à naviguer pour constructeurs professionnels et/ou amateurs"|trans}}</p>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-title">Aero-Bôme</h3>
                <img class="card-img-top" src="{{ asset('build/images/magasin/bome_aerofleet.jpeg') }}" alt="Card image">
                <div class="card-body">
                    <p class="card-text"> {{"Brevet européen n° 2.189.369"|trans}} </p>
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#collapse_aero_bome">Information</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h3 class="card-title">Aéro-Tens</h3>
                <img class="card-img-top" src="{{ asset('build/images/magasin/aero_tens_aerofleet_blanc.png') }}" alt="Card image">
                <div class="card-body">
                    <p class="card-text">{{"La tension juste et équilibrée des haubans d'un voilier"|trans}} </p>
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#collapse_aero_tens">Information</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="collapse_aero_tens" class="collapse">
            <h4 class="label label-success">{{"L'Aéro-Tens, prix sur demande."|trans}}</h4>
            <p>{{"Le Tensiomètre AERO 37/2/LPT est un appareil de mesure de force de traction sur câble, autonome et spécialement conçu pour mesurer les efforts sur les câbles (haubanés, placés verticalement ou inclinés) utilisé dans la navigation.Les caractéristiques de 12 câbles spécifiques à la navigation ont été répertoriés dans une banque de données et introduits dans la mémoire du tensiomètre."|trans}}</p>
            <p>{{"Il est destiné à mesurer les efforts dans les câbles haubanés placés verticalement ou inclinés. Les spécificités de chaque câble pouvant être mesuré sont répertoriées dans une banque de données."|trans}}</p>
            <p>{{"La structure mécanique du Tensiomètre AERO 37/2/ LPT est réalisée en aluminium de qualité aéronautique, de manière à réduire son poids."|trans}}</p>
            <p>{{"Dimensions du boitier : 550 x 380 x 220 mm"|trans}}</p>
            <p>{{"Poids dans son boitier : 6.5 kg"|trans}}</p>
            <p>{{"Poids net de l’appareil en ordre de marche : 2.2 kg Etendue de la mesure : de 0 à 3.000 daN"|trans}}</p>
            <p>{{"Erreur maximale de la force appliquée : +/- 2 % Température d’entreposage : -10° à +60°C"|trans}}</p>
            <p>{{"Température d’utilisation : -5° à +50°C"|trans}}</p>
            <p>{{"Indice de protection : IP 62"|trans}}</p>
            <p>{{"Alimentation électrique : 3 piles Alcaline AA Autonomie : 125 heures"|trans}}</p>
        </div>
        <div id="collapse_aero_bome" class="collapse">
            <p class="label label-success">{{"L'Aéro-bôme, prix sur demande."|trans}}</p>
            <p>{{"Pour tout navigateur aussi aguerri soit-il, l’une des manœuvres les plus délicates et dangereuses reste sans conteste l’empannage."|trans}}</p>
            <p>{{"L’AERO-BÔME permet de freiner la bôme lors de l’empannage. Il contrôle automatiquement l’ensemble des déplacements verticaux et horizontaux de votre bôme. Il ne coince pas la corde et ne l’abîme pas. Le cordage se serre et glisse autour du cylindre dans les rainures prévues à cet effet permettant de freiner la bôme."|trans}}</p>
            <p>{{"Toutes les manœuvres sont exécutables depuis le cockpit assurant ainsi la sécurité du navigateur."|trans}}</p>
            <p>{{"Différents diamètres : Il peut tout autant intégrer un voilier de 8m ou 16m, convenir à une grand-voile de 40m2 comme à une grand-voile de 85m2.
                Externe ou incorporé à la bôme.
                Adaptable sur les gréements anciens et les nouveaux. Différentes finitions : carbone, loupe de noyer ou inox poli (316L).
                Garantie : 10 ans.
                La sécurité alliée de l’esthétisme : possibilité de graver le nom de votre bateau sur votre frein de bôme."|trans}}
            </p>
            <p>{{"L’AERO-BÔME est au nautisme ce que le couteau suisse est à la coutellerie : une valeur sûre !"|trans}}</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-4">
            <br>
            <h3 id="boa03">{{"Aero 50, version classique"|trans}}</h3>
            <br>
            <img src="{{ asset('build/images/galerie/nautisme_11.jpg') }}" alt="Random Name" class="img-rounded img-fluid border-my-theme">
        </div>
        <div class="col-sm-6 text-left">
            <div id="boa04">
                <br><br><br>
                <p>{{"Librement et sans contrainte,"|trans}}</p>
                <p>{{"glissez parmi les vagues,"|trans}}</p>
                <p>{{"jouez avec le vent."|trans}}</p>
                <p>{{"Laissez-vous porter, laissez-vous choyer par votre catamaran qui saura vous mener là où les vents vous porteront…"|trans}}</p>
                <br>
                <div class="text-center">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-aero50" aria-expanded="false" aria-controls="collapseExample">
                        Info
                    </button>
                </div>
            </div>
        </div>

        <div class="row collapse"  id="collapse-aero50">
            <div class="col-sm-12 text-left">
                <br>
                <h4>{{"Construction"|trans}}</h4>
                <p>{{"Ces dimensions et son poids sont idéaux pour sillonner les mers et océans du globe dans une optique très grande croisière, de plus, il est insubmersible."|trans}}</p>
                <p>{{"De par sa construction sandwich en pré-imprégné carbone, résine d’époxy sous vide, ce navire vous garantit solidité, robustesse et légèreté."|trans}}</p>
                <p>{{"Il est résolument large pour conserver une meilleure stabilité par mer de travers, la répartition des poids est étudiée afin de contrôler les mouvements de tangage."|trans}}</p>
                <p>{{"Ainsi, la maîtrise de la gîte facilite les manœuvres même dans les mers les plus formées."|trans}}</p>
                <br>
                <h4>{{"Caractéristiques et équipements"|trans}}</h4>
                <p>{{"Longueur : 15,2m (50 pieds)"|trans}}</p>
                <p>{{"Largeur : 7,8 m"|trans}}</p>
                <p>{{"Tirant d’eau : 1,35m"|trans}}</p>
                <p>{{"Motorisation : 2x 75 CV Diesel"|trans}}</p>
                <p>{{"Carburant : 2x200 L, Eau douce 200L + Déssalinisateur"|trans}}</p>
                <p>{{"Hauteur du mât en alu : 17m Poids lège : 7,8T"|trans}}</p>
                <p>{{"Hauteur sous barrot dans les flotteurs : 1,90m"|trans}}</p>
                <p>{{"Surface Grande voile : 68,46 m², Surface Génois : 28,56 m²"|trans}}</p>
                <p>{{"4 cabines doubles, 2 salles de bains, Homologation catégorie A"|trans}}</p>
                <h4>{{"Équipement des 4 cabines"|trans}}</h4>
                <p>{{"2 salles d’eau"|trans}}</p>
                <p>{{"carré"|trans}}</p><p>{{"cuisine"|trans}}</p>
                <p>{{"Table à carte"|trans}}</p><p>{{"Cockpit"|trans}}</p>
                <p>{{"Poste de barre"|trans}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6 text-left">
                <br><br><br><br><br>
                <p>{{"voici un catamaran de grande croisière attrayant, moderne et confortable avec une intégrité structurelle hors pair et capable de vous amener là où vous voulez confortablement, rapidement et en toute sécurité!"|trans}}</p>
                <br>
                <div class="text-center">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-aero50-open" aria-expanded="false" aria-controls="collapseExample">
                        Info
                    </button>
                </div>
            </div>


            <div class="col-sm-4">
                <br><br><br>
                <h3 id="boa05">{{"Aero 50, version open"|trans}}</h3>
                <br>
                <img src="{{ asset('build/images/galerie/nautisme_01.jpeg') }}" alt="Random Name" class="img-rounded img-fluid border-my-theme">
            </div>
        </div>
        <div class="row text-left collapse"  id="collapse-aero50-open">
            <div class="col-sm-12">
                <h4>{{"Construction:"|trans}}</h4>
                <p>{{"Grâce à la grande expérience d'AEROFLEET en matière de matériaux composites, la coque est construite en pré-imprégné (carbone) et en résine d'époxy sous vide. "|trans}}</p>
                <br>
                <h4>{{"Caractéristiques et équipements:"|trans}}</h4>
                <p>{{"Longueur : 15m (50 pieds)"|trans}}</p>
                <p>{{"Largeur : 8m"|trans}}</p>
                <p>{{"Tirant d'eau : 50 cm"|trans}}</p>
                <p>{{"Nombre de couchettes : 6"|trans}}</p>
                <p>{{"Motorisation : 2 x 40 ch Diesel / Electrique"|trans}}</p>
                <p>{{"2 Dérives sabre"|trans}}</p>
                <p>{{"Hauteur du Mât: 20 m"|trans}}</p>
                <p>{{"Poids lège: 4,4T"|trans}}</p>
                <p>{{"Hauteur sous barrot: 1,90 m"|trans}}</p>
                <p>{{"Grande voile lattée: 78 m²"|trans}}</p>
                <p>{{"Génois: 32 m²"|trans}}</p>
                <p>{{"3 Cabines double"|trans}}</p>
                <p>{{"1 Salle de bain"|trans}}</p>
                <p>{{"Homologation: Catégore A"|trans}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <br><br>
                <h3>Aero 660</h3>
                <br>
                <div id="carouselNautisme2" class="col slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner border-my-theme">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{asset('build/images/galerie/nautisme_10.jpg')}}" alt="piscine extérieure">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{asset('build/images/galerie/nautisme_03.JPG')}}" alt="piscine extérieure">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <br><br>
                <div class="row text-left" id="boa07">
                    <p>{{"Utilisation professionnelle, sorties familiales, pêche, ski nautique ..., autant de plaisirs pour un seul bateau!"|trans}}</p>
                    <p>{{"Carène conçue par AEROFLEET et l'aménagement du pont par Myriam Carbonnelle, Designer Industriel, prix Roi Baudouin du Design 1998."|trans}}</p>
                    <p>{{"La carène en forme d'ailes de mouettes, autorise aussi bien la navigation sur lac que sur mer. De plus, vous pouvez personnaliser votre bateau à travers différentes options: couleurs, coffres, sièges supplémentaires, équipement de pêche, équipement d'intervention, ski nautique,..."|trans}}</p>
                    <p>{{"Avec sa haute technologie, sa sécurité et son aspect multifonctions, l'AERO 660 est le partenaire idéal pour vos évasions."|trans}}</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-aero666" aria-expanded="false" aria-controls="collapseExample">
                        Info
                    </button>
                </div>
            </div>
            <div class="row text-left collapse" id="collapse-aero666">
                <div class="pl-5 col-sm-6">
                    <h4>{{"Caractéristiques et équipements:"|trans}}</h4>
                    <p>{{"Longueur : 6,60 m (21\'07\")"|trans}}</p>
                    <p>{{"Largeur : 2,48 m (8\'02\")"|trans}}</p>
                    <p>{{"Capacité : 10 personnes"|trans}}</p>
                    <p>{{"Puissance maximum : 225HP"|trans}}</p>
                    <p>{{"Poids sans moteur : 2425 pounds/900 kg"|trans}}</p>
                    <p>{{"Vitesse maximum : 55 noeuds"|trans}}</p>
                    <p>{{"Version In-board ou Out-board"|trans}}</p>
                    <p>{{"Tirant d'eau : 0,30 m"|trans}}</p>
                    <br>
                    <p>{{"Aisément tractable par voiture"|trans}}</p>
                </div>
                <div class="col-sm-6">
                    <h4>Construction</h4>
                    <p>{{"Grâce à la grande expérience d'AEROFLEET en matière de matériaux composites, la coque est construite en pré-imprégné (fibre de verre, de carbone et de kevlar) et en résine d'époxy sous vide ou sous autoclave (ce qui prévient les problèmes d'osmose)."|trans}}</p>
                    <p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>