<section class="text-center bg-light" id="piscine">
    <h2>{{"Piscine"|trans}}</h2>
    <div class="row">
        <div class="col img-fluid">
            <img src="{{ asset('build/images/piscine/Piscine recadree.8893a43f.jpg') }}" class="img-r border-my-theme" alt="piscine">
        </div>
        <div class="col text">
            <br><br>
            <h3>{{"Aerofleet donne forme à vos rêves… et vous aide à faire de votre espace balnéo un véritable petit paradis!"|trans}}</h3>
            <br><br>
            <h4>{{ "Pourquoi nous choisir pour la réalisation de votre piscine?"|trans}}</h4>
            <br>
        </div>
    </div>
    <br>
    <div class="row text-left">
        <div class="col-sm-6">
            <p>{{"1. Une piscine sur-mesure réalisée suivant l’orientation, la disposition et les dimensions de votre terrain"|trans}}</p>
            <p>{{"2. Installation complète en intérieur, comme en extérieur"|trans}}</p>
            <p>{{"3. Usage de matériaux de grande qualité (panneaux stratifiés / fibre de verre / Epoxy / nid d’abeilles)"|trans}}</p>
            <p>{{"4. Une durée de vie inégalée… vieillissant mieux que les piscines monobloc en polyester dont on voit, parfois, avec le temps apparaître les renforts de la coque."|trans}}</p>
            <p>{{"5. Pas de problème d’osmose, d’électricité statique : Aerofleet utilise de l’époxy pour la fabrication de ses piscines, et non du polyester, comme pour les coques traditionnelles, ce qui annule tout risque de microbullage et précipitations d’ions métalliques dans l’eau à cause de l’électricité statique (l’osmose)"|trans}}</p>
        </div>
        <div class="col-sm-6">
            <p>{{"6. Système d’assemblage exclusif des panneaux pour une meilleure cohésion de l’ensemble"|trans}}</p>
            <p>{{"7. Les panneaux peuvent être assemblés en atelier, ou chez vous, en fonction de l’accessibilité de l’emplacement choisi"|trans}}</p>
            <p>{{"8. Excellente isolation thermique grâce à la structure stratifiée des panneaux, inspirée des technologies aéronautiques : vous pourrez profiter de votre piscine de mai à octobre tout en limitant votre facture de chauffage"|trans}}</p>
            <p>{{"9. Des options sans limite : Balnéothérapie, escalier roman, escalier intérieur, éclairage halogène, éclairage par fibre optique, nage à contre-courant, intégration paysagère, ..."|trans}}</p>
            <p>{{"10. Une gamme complète d’accessoires et de services"|trans}}</p>
        </div>
    </div>

    <br>
    <h4>{{"Aerofleet peut également assumer tout type de réparation sur vos piscines en polyester."|trans}}</h4>
    <br>

    <div class="row">
        <div id="carouselPiscine" class="col slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner border-my-theme">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{asset('build/images/piscine/piscine_01.jpeg')}}" alt="piscine extérieure">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{asset('build/images/piscine/piscine_02.jpeg')}}" alt="piscine extérieure">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{asset('build/images/piscine/piscine_03.jpeg')}}" alt="piscine intérieure">
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>
