<section class="text-center" id="spatial-aeronautique">
    <h2>{{"Spatial et Aéronautique"|trans}}</h2>
    <p>{{"Aerofleet fabrique du matériel de haute technologie : des matériaux composites pour le domaine aéronautique (programme Airbus) mais aussi pour le domaine spatial avec notamment un dôme (coupole) de protection pour le télescope VLT."|trans}}</p>
    <div class="row">
        <div class="col-6">
            <img class="img-fluid bg-card"  src="{{ asset('build/images/galerie/dome-vlt-01.jpg') }}" alt="Dôme du Telescope VLT" />
        </div>
        <div class="col-6">
            <img class="img-fluid bg-card"  src="{{ asset('build/images/galerie/dome-vlt-02.jpg') }}" alt="Dôme du Telescope VLT" />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <img class="img-fluid bg-card"  src="{{ asset('build/images/galerie/cone-spatial-aerofleet.jpg') }}" alt="Cône de banc d'essai de la marque Aerofleet" />
        </div>
        <div class="col-4">
            <img class="img-fluid bg-card"  src="{{ asset('build/images/galerie/aerofleet-aeronautique-nozzle.jpg') }}" alt="Nozzle de la marque aerofleet" />
        </div>
        <div class="col-4">
            <img class="img-fluid bg-card"  src="{{ asset('build/images/galerie/aerofleet-aeronautique-fairings.jpg') }}" alt="Fairing de la marque aerofleet" />
        </div>
    </div>
    <br>
</section>