<section class="text-center" id="spatial-aeronautique">
    <h2>{{"Spatial et Aéronautique"|trans}}</h2>
    <p>{{"Aerofleet fabrique du matériel de haute technologie : des matériaux composites pour le domaine aéronautique (programme Airbus) mais aussi pour le domaine spatial avec notamment un dôme (coupole) de protection pour le télescope VLT."|trans}}</p>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid images-galerie border-my-theme"  src="{{ asset('build/images/galerie/spatial_dome_01.jpg') }}" alt="spatial aerofleet" />
        </div>
        <div class="col-sm-6">
            <img class="img-fluid images-galerie border-my-theme"  src="{{ asset('build/images/galerie/spatial_dome_02.jpg') }}" alt="spatial aerofleet" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid images-galerie border-my-theme"  src="{{ asset('build/images/galerie/aeronautique_cone_de_banc_d_essais_test_bench_cone.jpg') }}" alt="aeronautique aerofleet" />
        </div>
        <div class="col-md-4">
            <img class="img-fluid images-galerie border-my-theme"  src="{{ asset('build/images/galerie/aeronautique_nozzle.jpg') }}" alt="aeronautique aerofleet" />
        </div>
        <div class="col-md-4">
            <img class="img-fluid images-galerie border-my-theme"  src="{{ asset('build/images/galerie/aeronautique_fairings.jpg') }}" alt="spatial aerofleet" />
        </div>
    </div>
    <br>
</section>