<section id="thermolaquage" class="text-center">
    <h2>{{ "Thermolaquage" |trans }}</h2>
    <div class="row">
        <div class="col-sm-7">
            <img class="img-fluid border-my-theme" src="{{ asset('build/images/galerie/thermolaquage_01.jpeg') }}" alt="">
        </div>
        <div class="col-sm-5">
            <p>{{ "Revêtement des métaux obtenu par poudrage électrostatique et cuisson à 190°C, de poudre de résine thermodurcissable (polyester ou époxy)." |trans }}</p>
            <h3>{{"Caractéristiques techniques :"|trans}}</h3>
            <p>{{"Excellent fini de surface dans un grand choix de teintes."|trans}}</p>
            <p>{{"Revêtement d'une grande flexibilité et d'une grande adhérence"|trans}}</p>
            <p>{{"Excellente protection des pièces métalliques contre la corrosion"|trans}}</p>
            <p>{{"Résistance aux UV et aux variations de température"|trans}}</p>
            <p>{{"Les différents traitements, effectués par AEROFLEET avant le poudrage(dégraissage, chromation, ... ), assurent une adhérence optimale du revêtement."|trans}}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>{{"Applications"|trans}}</h3>
            <p>{{"Cette méthode s'applique aux pièces en aluminium, acier, inox ou galvanisé. Elle est idéale pour les profilés et châssis en aluminium, la tôlerie, les éléments de construction métallique, la valorisation et la protection des pièces métalliques de votre maison (rampe d'escalier moderne, garde-fou de balcon, barrière et portique, anciens outils agricoles, ...)"|trans}}</p>
            <p>{{"Nous réalisons vos devis sur simple demande."|trans}}</p>
        </div>
        <div class="col-sm-6">
            <h3>{{"Teintes :"|trans}}</h3>
            <p>{{"Toutes références RAL"|trans}}</p>
            <p>{{"Couleurs métallisées"|trans}}</p>
            <p>{{"Fini de surface mat, brillant, structuré"|trans}}</p>
            <a href="{{asset('build/documents/ThermolaquageFR.pdf')}}" class="btn btn-primary">{{"Fiche descriptive"|trans}}</a>
        </div>
    </div>
    <br>
</section>